<div class="container">
    <div class="threadListContainer">
        <h1><a class="threadTitle">{{thread.name}}</a></h1>
        <div>
            <p><span class="threadDate">Date: {{thread.timestamp}}</span></p>
            <p><span class="threadContent">{{thread.content}}</span></p>
        </div>
    </div>
    <div class="commentContainer" ng-repeat="comment in thread.comments | orderBy:timestamp">
        <p><span class="commentDate">Date: {{comment.timestamp}}</span></p>
        <p><span class="commentContent">{{comment.content}}</span></p>
    </div>
    <textarea ng-model="newComment.content" id="contentInput" class="form-control comment-content" rows="3"></textarea>
    <button ng-click="saveComment()" class="btn btn-primary comment-btn">Comment</button>
</div>